@model CamhsFinal.Models.Episode

@{
    ViewData["Title"] = "newReferral";
}

<h2>newReferral</h2>

<h4>Episode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="newReferral">
            <p class="alert alert-success">@ViewBag.Name</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Referral.Date" class="control-label"></label>
                <input asp-for="Referral.Date" class="form-control"/>
                <span asp-validation-for="Referral.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referral.Content" class="control-label"></label>
                <input asp-for="Referral.Content" class="form-control"/>
                <span asp-validation-for="Referral.Content" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control"/>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isOpen"/> @Html.DisplayNameFor(model => model.isOpen)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ClientID"/>
                <input type="hidden" asp-for="ReferralID"/>
                <input type="hidden" asp-for="Grade"/>
                <input type="hidden" asp-for="Outcome"/>
                <input type="hidden" asp-for="EpisodeID"/>
                <input type="hidden" asp-for="MdtDate"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

